@import url('https://fonts.googleapis.com/css?family=Merienda|Special+Elite|Vidaloka');


body {
    background-image: url(res/abstract-art-board-139321.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Special Elite', cursive;
}

.navbar-brand {
    font-family: 'Special Elite', cursive;
}

.nav {
    font-family: 'Special Elite', cursive;
}

/* Add a dark background color with a little bit see-through */ 
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
}


.search-container {
    padding-top: 75px;
    color: #333;
}

.recipe-search {
    display: block;
}

.recipe-search-bar {
    display: block;
    width: 92%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
    opacity:0.9;
    font-family: 'Special Elite', cursive;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.search-container button {
    float: left;
    padding: 7px 9px;
    background: #ddd;
    font-size: 18px;
    border: 1px solid #ccc;
    cursor: pointer;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
}
.btn-success {
    padding: 9px 10px !important;
    background: #ddd;
    border: none;
}

.btn-success:hover {
    background: #ddd;
}

.btn-danger {
    padding: 9px 10px !important;
    background: #ddd;
    border: none;
}

.btn-danger:hover {
    background: #ddd;
}

.entry:not(:first-of-type) {
    margin-top: 10px;
}

.glyphicon {
    font-size: 12px;
}

.results-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.panel {
    border: none;
}

.panel-heading {
    background-color: #2d2d30 !important;
    border-color: #2d2d30 !important;
    opacity:0.9;
}

.panel-primary {
    border-color: #2d2d30 !important;
    opacity:0.9;
}

.panel-body {
    overflow: hidden !important;
    height: 150px !important;
}

.panel-body:after {
    position: absolute;
    bottom: 60px;
    left: 15px;
    height: 150px;
    width: 220px;
    content: "";
    background: linear-gradient(to top, rgba(255,255,255, 1) 10%, rgba(255,255,255, 0) 80% );
}

.panel-footer {
    background-color: #2d2d30 !important;
    color: #FFFFFF !important;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    opacity:0.9;
}

.panel-footer a {
    background-color: #2d2d30 !important;
    color: #FFFFFF !important;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 3px;
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
    color: #d5d5d5 !important;
    font-family: 'Special Elite', cursive;
}

#field {
    margin-bottom:20px;
}


@media only screen and (max-width: 767px) {
    .panel-body:after {
        position: absolute;
        bottom: 40px;
        left: 15px;
        height: 150px;
        width: 395px;
        content: "";
        background: linear-gradient(to top, rgba(255,255,255, 1) 10%, rgba(255,255,255, 0) 80% );
    }
}

@media only screen and (min-width: 992px) {
    .panel-body:after {
        position: absolute;
        bottom: 60px;
        left: 15px;
        height: 150px;
        width: 293.33px;
        content: "";
        background: linear-gradient(to top, rgba(255,255,255, 1) 10%, rgba(255,255,255, 0) 80% );
    }
} 
