@import url('https://fonts.googleapis.com/css?family=Merienda|Special+Elite|Vidaloka');

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url(res/abstract-art-board-139321.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Special Elite', cursive;
    margin-bottom: 60px;
}

.navbar-brand {
    font-family: 'Special Elite', cursive;
}

.nav {
    font-family: 'Special Elite', cursive;
}

/* Add a dark background color with a little bit see-through */ 
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
    font-size: 16px;
    padding: 0 !important;
}

.dropdown-menu {
    padding: 5px;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: #349C93 !important;
}


.search-container {
    padding-top: 75px;
    color: #333;
}

.recipe-search {
    display: block;
}

.recipe-search-bar {
    display: block;
    width: 92%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
    opacity:0.9;
    font-family: 'Special Elite', cursive;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.search-container button {
    float: left;
    padding: 7px 9px;
    background: #ddd;
    font-size: 18px;
    border: 1px solid #ccc;
    cursor: pointer;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
}
.btn-success {
    padding: 11px 10px !important;
    background: #ddd;
    border: none;
}

.btn-success:hover {
    background: #c5d3ca !important;
}

.btn-success:active {
    background: #c5d3ca !important;
}

.btn-success:focus {
    background: #ddd !important;
}

.btn-danger {
    padding: 11px 10px !important;
    background: #ddd;
    border: none;
}

.btn-danger:hover, .btn-danger:active {
    background: #c99c9c;
}

.btn-danger:focus {
    background: #ddd !important;
}

.entry:not(:first-of-type) {
    margin-top: 10px;
}

.glyphicon {
    font-size: 12px;
}

.results-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.submit-panel {
    background-color: #fff !important;
    border-color: #fff !important;
    opacity:0.9;
    margin-right: -30px !important;
    margin-left: -30px !important;
    padding: 0 20;
    border-radius: 5px;
}

textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.user-welcome {
    background-color: #349C93;
    color: #fff;
}

.panel {
    border: none;
}

.panel-heading {
    background-color: #2d2d30 !important;
    border-color: #2d2d30 !important;
    opacity:0.9;
    height: 41px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-primary {
    border-color: #2d2d30 !important;
    opacity:0.9;
}

.panel-body {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 155px !important;
    background-color: #F1E9C4;
    
}

/*.panel-body:after {
    position: absolute;
    bottom: 60px;
    left: 15px;
    height: 150px;
    width: 100%;
    content: "";
    background: linear-gradient(to top, rgba(255,255,255, 1) 10%, rgba(255,255,255, 0) 80% );
}*/

.panel-footer {
    background-color: #2d2d30 !important;
    color: #FFFFFF !important;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    opacity:0.9;
}

.panel-footer a {
    background-color: #2d2d30 !important;
    color: #FFFFFF !important;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 3px;
    
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
    color: #d5d5d5 !important;
    font-family: 'Special Elite', cursive;
}

#field {
    margin-bottom:20px;
}

.form-control{
    box-shadow: none;
}

.form-control:focus{
    border-color: #5cb85c;
}

.form-control, .btn{        
    border-radius: 3px;
}

.signup-form{
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}

.signup-form h2{
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}

.signup-form h2:before, .signup-form h2:after{
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}

.signup-form h2:before{
    left: 0;
}

.signup-form h2:after{
    right: 0;
}

.signup-form .hint-text{
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}

.signup-form form{
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.signup-form .form-group{
    margin-bottom: 20px;
}

.signup-form input[type="checkbox"]{
    margin-top: 3px;
}

.signup-form .btn{        
    font-size: 16px;
    font-weight: bold;		
    min-width: 140px;
    outline: none !important;
}

.signup-form .row div:first-child{
    padding-right: 10px;
}

.signup-form .row div:last-child{
    padding-left: 10px;
}

.signup-form a{
    color: #fff;
    text-decoration: underline;
}

.signup-form a:hover{
    text-decoration: none;
}

.signup-form form a{
    color: #5cb85c;
    text-decoration: none;
}

.signup-form form a:hover{
    text-decoration: underline;
} 

.control a {
    text-decoration: none;
}

/*
@media only screen and (max-width: 320px) {
    .panel-body:after {
        position: absolute;
        bottom: 40px;
        left: 15px;
        height: 150px;
        width: 290px;
        content: "";
        background: linear-gradient(to top, rgba(255,255,255, 1) 10%, rgba(255,255,255, 0) 80% );
    }
}

@media only screen and (min-width: 375px) {
    .panel-body:after {
        position: absolute;
        bottom: 40px;
        left: 15px;
        height: 150px;
        width: 345px;
        content: "";
        background: linear-gradient(to top, rgba(255,255,255, 1) 10%, rgba(255,255,255, 0) 80% );
    }
}

@media only screen and (min-width: 425px) {
    .panel-body:after {
        position: absolute;
        bottom: 40px;
        left: 15px;
        height: 150px;
        width: 395px;
        content: "";
        background: linear-gradient(to top, rgba(255,255,255, 1) 10%, rgba(255,255,255, 0) 80% );
    }
}

@media only screen and (min-width: 768px) {
    .panel-body:after {
        position: absolute;
        bottom: 60px;
        left: 15px;
        height: 150px;
        width: 220px;
        content: "";
        background: linear-gradient(to top, rgba(255,255,255, 1) 10%, rgba(255,255,255, 0) 80% );
    }
}

@media only screen and (min-width: 992px) {
    .panel-body:after {
        position: absolute;
        bottom: 60px;
        left: 15px;
        height: 150px;
        width: 293.33px;
        content: "";
        background: linear-gradient(to top, rgba(255,255,255, 1) 10%, rgba(255,255,255, 0) 80% );
    }
} 

@media only screen and (min-width: 1200px) {
    .panel-body:after {
        position: absolute;
        bottom: 60px;
        left: 15px;
        height: 150px;
        width: 360px;
        content: "";
        background: linear-gradient(to top, rgba(255,255,255, 1) 10%, rgba(255,255,255, 0) 80% );
    }
} 
*/
