@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Monoton|Slabo+27px');

body {
    font-family: 'Cabin Sketch', cursive;
}

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}
    

.navbar-brand p {
    margin: 0px;
    font-size: 1.5em;
    color: #FFFFFF;

}

.jumbotron {
    margin-bottom: 0;
    background-image: url(images/discgolfbg2.png);
    background-position: center center;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;

}
.logo-name {
    text-align: left;
}
 
.logo-img {
    padding-bottom: 5px;
}

.navbar-brand {
    padding-top: 8px;
}

.cart-icon {
    color: #FFFFFF;
    
}

.cart {
    color: #FFFFFF;
    font-size: 1.5em
}

.panel-heading {
    background-color: #7EBEA9 !important;
    border-color: #7EBEA9 !important;
}

.panel-primary {
    border-color: #7EBEA9 !important;
}

.panel-footer {
    background-color: #96B545 !important;
    color: #FFFFFF !important;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
}

.panel-footer a {
    background-color: #595959 !important;
    color: #FFFFFF !important;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 3px;
    
}

footer {
    background-color: #101010;
    color: #fff;
    padding: 15px;
}

.btn-checkout {
    background-color: #96B545;
    border-color: #96B545;
    color: #FFFFFF;
}

.panel-body:hover {
    opacity: 0.5;
}